
AIGame-GTA5/11-train_model/pygta5-car-fast-0.001-alexnetv2-10-epochs-300K-data.model.data-00000-of-00001
AIGame-GTA5/11-train_model/checkpoint
AIGame-GTA5/11-train_model/pygta5-car-fast-0.001-alexnetv2-10-epochs-300K-data.model.index
AIGame-GTA5/11-train_model/pygta5-car-fast-0.001-alexnetv2-10-epochs-300K-data.model.meta
